apiVersion: apps/v1
kind: Deployment
metadata:
  name: genzfashion-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: genzfashion-api
  template:
    metadata:
      labels:
        app: genzfashion-api
    spec:
      containers:
      - name: genzfashion-api
        image: genzfashionapi:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: genzfashion-config
              key: DB_NAME
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: genzfashion-config
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: genzfashion-config
              key: DB_PORT
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: genzfashion-secrets
              key: db-username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: genzfashion-secrets
              key: db-password
        - name: MONGODB_URI
          value: "mongodb://$(DB_USERNAME):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?authSource=admin"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"