apiVersion: apps/v1
# Always keep the desired number of pods, ReplicaSet is usually managed by Deployment.
# Deployment is production ready and provides declarative updates for Pods and ReplicaSets.
kind: ReplicaSet
metadata:
  name: nginx-replicaset
  namespace: dev
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"