name: Client CI/CD

on:
  push:
    branches:
      - main
    paths:
      - my-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test command
        run: echo "Hello"