name: Client CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'my-app/**'
      - '.github/workflows/client-cicd.yaml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test command
        run: echo "Hello"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: taen/client:latest
          context: ./my-app
          file: ./my-app/Dockerfile
          target: builder
          